*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  object-fit: cover;
  margin: 0 0 5px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__list-container {
  position: relative;
  height: 298px;
  width: 399px;
  overflow: auto;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 0.94;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.title .content__accent {
  color: #545050;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  width: fit-content;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: underline 1px #FFF;
  cursor: pointer;
}

input {
  font-family: inherit;
  width: 225px;
  height: 27px;
  color: #fff;
  appearance: none;
  background-color: #1b1919;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #FFFFFF;
}

.search-form__textfield::placeholder{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(255 255 255 / 0.7);
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-style: solid;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  padding-left: 3px;
  padding-right: 3px;
  outline: solid 1px #fff;
}

.content__video-card {
  display: flex;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  width: 390px;
  height: 103px;
  cursor: pointer
}


.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail{
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  max-width: 192px;
  overflow: hidden;
}

.content__card-link_current {
  background-color: #545050;
}



.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
}

label:focus {
  outline: none;
}

label:has(:focus-visible) {          
  outline: #fff 1px solid;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFFFFF;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content:"";
  display: block;
  background-color: #fff;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1
}

.search-form__pseudo-checkbox:has(:focus-visible) {
    outline: #fff 1px solid;
}

.button {
  background-color: transparent;
  height: 34px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  border-width: 1px;
  cursor: pointer;
  border: 1px solid #FFF;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
  margin-bottom: 6px;
}

.more-button {
  margin-top: 30px;
  width: 390px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
